.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

#carousel {
  contain: layout;
}
