/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Reseta o fundo, sombra e padding da caixa padrão do Angular Material Snackbar */
.custom-snackbar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
